.nav {
  padding: 0.5rem 0;
  border-top: 1px solid $secondary-color;
  max-width: 75%;
  margin: 0 auto;

  @include breakpoint-large {
    max-width: 500px;
  }

  li {
    display: inline-block;
    padding: 0 0.5rem;

    a {
      color: #fff;
    }
  }
}