// Color Palette
$primary-color: #264559;
$secondary-color: #2C5E73;
$tertiary-color: #4392A3;

$dark-gray: #333;

// Fonts
$primary-font: 'Libre Baskerville', serif;
$secondary-font: Helvetica, sans-serif;