body {
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  color: #333;
  font-weight: 400;
  background: url("../img/what-the-hex.png"); }

img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

p {
  word-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #4392A3; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.section {
  margin: 0 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7); }

.overview {
  padding: 2rem 1rem 0 1rem; }
  .overview__image {
    border-radius: 10rem;
    margin-bottom: 1.5rem; }

.header {
  text-align: center;
  background-color: #264559;
  padding: 0.5rem 0; }
  .header__title {
    margin-bottom: 0.5rem; }
    .header__title a {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5rem; }
    .header__title span {
      display: block;
      font-size: 1rem;
      font-family: Helvetica, sans-serif;
      font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

h2 {
  font-size: 1.25rem;
  background-color: #264559;
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0; }

.nav {
  padding: 0.5rem 0;
  border-top: 1px solid #2C5E73;
  max-width: 75%;
  margin: 0 auto; }
  .nav li {
    display: inline-block;
    padding: 0 0.5rem; }
    .nav li a {
      color: #fff; }
