body {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400; }

img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

p {
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.5rem 0; }

.section {
  padding: 0.5rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

.menu {
  overflow: hidden;
  padding-top: 1.5rem;
  width: 20%;
  float: left; }
  @media only screen and (min-width: 48rem) {
    .menu {
      display: none; } }

@media only screen and (min-width: 48rem) {
  .menu__link {
    display: none; } }

.menu__link__line {
  width: 30px;
  height: 2px;
  background-color: #333;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu__link.active .menu__link__line:nth-child(2) {
  opacity: 0; }

.menu__link.active .menu__link__line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg); }

.menu__link.active .menu__link__line:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(-45deg);
  -ms-transform: translateY(-4px) rotate(-45deg);
  -o-transform: translateY(-4px) rotate(-45deg);
  transform: translateY(-4px) rotate(-45deg); }

nav {
  max-height: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  float: left; }
  @media only screen and (min-width: 48rem) {
    nav {
      max-height: none;
      width: 65%;
      float: right; } }
  @media only screen and (min-width: 60rem) {
    nav {
      text-align: right;
      width: 60%; } }
  nav.active {
    max-height: 15rem; }
  nav ul {
    margin: 0 0 0.5rem 0;
    padding: 0; }
    @media only screen and (min-width: 48rem) {
      nav ul {
        margin: 0 0 0 -0.25rem; } }
  nav li {
    padding: 0.5rem 0 0.5rem 1.5rem; }
    @media only screen and (min-width: 48rem) {
      nav li {
        display: inline-block;
        margin: 0;
        border: 0; } }
  nav li > a {
    display: block;
    text-decoration: none; }
    nav li > a:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
